.flex {
  display: flex;
  gap: var(--space-1);
  align-items: center;
  justify-content: space-between
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.flex-row {
  @extend .flex;
  flex-direction: row;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}