$rows: 'top', 'mid', 'bot';
$cols: 'left', 'center', 'right';

@each $row in $rows {
  @each $col in $cols {
    .#{$row}-#{$col} {
      border: var(--box-outline) solid var(--primary-color);
      @if $row == 'top' {
        border-top: none;
      } @else if $row == 'bot' {
        border-bottom: none;
      }

      @if $col == 'left' {
        border-left: none;
      } @else if $col == 'right' {
        border-right: none;
      }
    }
  }
}