.box {
  height: var(--box-size);
  width: var(--box-size);
  justify-content: center;

  &:hover {
    background-color: var(--box-hover-color);
    cursor: pointer;
  }
}

.top-left {
  border: var(--box-outline) solid var(--primary-color);
  border-top: none;
  border-left: none;
}

.top-center {
  border: var(--box-outline) solid var(--primary-color);
  border-top: none;
}

.top-right {
  border: var(--box-outline) solid var(--primary-color);
  border-top: none;
  border-right: none;
}

.mid-left {
  border: var(--box-outline) solid var(--primary-color);
  border-left: none;
}

.mid-center {
  border: var(--box-outline) solid var(--primary-color);
}

.mid-right {
  border: var(--box-outline) solid var(--primary-color);
  border-right: none;
}

.bot-left {
  border: var(--box-outline) solid var(--primary-color);
  border-bottom: none;
  border-left: none;
}

.bot-center {
  border: var(--box-outline) solid var(--primary-color);
  border-bottom: none;
}

.bot-right {
  border: var(--box-outline) solid var(--primary-color);
  border-right: none;
  border-bottom: none;
}
