.btn {
  background-color: transparent;
  color: white;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--box-hover-color);
    cursor: pointer;
  }
}

.btn-box {
  @extend .btn;
  min-height: var(--box-size);
  min-width: var(--box-size);
  justify-content: center;
  transition: background-color 0.5s;

  &.borderless {
    border: 0;
  }

  &.btn-sm {
    min-height: var(--box-size-sm);
    max-width: var(--box-size-sm);
  }
}

.btn-round {
  @extend .btn;
  border: 0.125rem solid var(--primary-color);
  border-radius: 1rem;
  opacity: 0.6;
  padding: 0.5rem 2rem;
  transition: 0.3s;

  &:hover {
    opacity: 1;
  }

  &.btn-sm {
    padding: 0.5rem 1rem;
  }
}
