.modal {
  background-color: var(--background-color);
  border: var(--box-outline) solid var(--primary-color);
  border-radius: 1rem;
  padding: 1rem;
  width: var(--modal-width);
  overflow: hidden;

  section {
    margin: 1rem;
  }

  ul {
    display: flex;
    margin: 0 1rem;
    overflow-y: auto;
    max-height: 50vh;
    width: 100%;
    scroll-snap-type: y mandatory;
    text-transform: capitalize;
  }

  p {
    padding: 0 1.5rem;
  }

  img {
    margin-bottom: 1rem;
    opacity: 0.25;
  }

  h6 {
    opacity: 0.5;
  }
}

.modal::backdrop {
  background-color: hsla(0, 0%, 6%, 0.75);
}
