.modal {
  background-color: var(--background-color);
  border: var(--box-outline) solid var(--primary-color);
  border-radius: 1rem;
  padding: 1rem;
  width: var(--modal-width);

  section {
    margin: 2rem;
  }

  img {
    margin-bottom: 1rem;
    opacity: 0.25;
  }

  h6 {
    opacity: 0.5;
  }
}

.modal::backdrop {
  background-color: hsla(0, 0%, 6%, 0.75);
}
