body {
  font-family: 'Heebo', sans-serif;
}

$elements: (
  'h1': var(--h1),
  'h2': var(--h2),
  'h3': var(--h3),
  'h4': var(--h4),
  'h5': var(--h5),
  'h6': var(--h6),
  'p': var(--p),
  'button': var(--h6),
  'button.btn-box': var(--h1),
  '.btn-box.btn-sm': var(--h3)
);

@each $name, $value in $elements {
  #{$name} {
    font-size: $value;
  }
}