:root {
  // fonts
  --h1: 5rem;
  --h2: 3rem;
  --h3: 2.5rem;
  --h4: 2rem;
  --h5: 1.5rem;
  --h6: 0.8rem;
  --p: 1rem;

  // colors
  --primary-color: #f92571;
  --primary-dark-color: hsla(338, 95%, 56%, 0.5);
  --primary-light-color: hsla(338, 95%, 90%);
  --neutral-color: #929292;
  --background-color: #1b1b1b;
  --box-hover-color: #303030;

  // box
  --box-size: 7.5rem;
  --box-size-sm: 5.5rem;
  --box-size-xs: 3.5rem;
  --box-outline: 0.2rem;

  // button container
  --section-width: calc(var(--box-size) * 3);
  --modal-width: calc(var(--box-size) * 2.75);
}
